# flask
# openai
# python-dotenv
# sqlalchemy
# psycopg2-binary
# pymysql
# cryptography

flask
openai
python-dotenv
sqlalchemy
psycopg2-binary
pymysql
cryptography
chromadb
tokenizers
numpy
posthog
pydantic
requests
urllib3